<div class="page-title">
    <div class="title_left">
      <div id="crop-avatar" class="pull-left">
        <img class="img-circle img-responsive avatar-view" src="{{ environment.appImageUrl }}{{ student.user_avatar }}" alt="Photo de {{ student.user_firstname }} {{ student.user_lastname }}">
      </div>
      <h3 class="pull-left" style="margin: 13px 0 0 10px;">{{ student.user_firstname }} {{ student.user_lastname }}</h3>
    </div>
    <div class="title_right">
        <button class="btn bg-blue pull-right" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i> Revenir aux étudiants</button>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row" style="margin: 50px 0 0 0;">
    <div class="col-md-12">
      <div class="scrolling-wrapper">
        <div class="card" [class.selected]="moduleSelected == 0">
          <div class="roundProgressBarWrapper"  (click)="filterByModule(0)">
            <round-progress class="roundProgressBarTeacher" [current]="totalTeacherValidation*100/totalSkills" [max]="environment.progressMax" [color]="environment.progressColorTeacher" [radius]="environment.progressRadiusTeacher" [stroke]="environment.progressStrokeTeacher"></round-progress>
            <round-progress class="roundProgressBarStudent" [current]="totalStudentValidation*100/totalSkills" [max]="environment.progressMax" [color]="environment.progressColorStudent" [radius]="environment.progressRadiusStudent" [stroke]="environment.progressStrokeStudent"></round-progress>
            <div class="progressTeacherText red">{{ (totalTeacherValidation*100/totalSkills) | number: '1.0-0' }}%</div>
            <div class="progressStudentText purple">{{ (totalStudentValidation*100/totalSkills) | number: '1.0-0' }}%</div>
            <div class="moduleName">Tout</div>
          </div>
        </div>
        <div class="card" *ngFor="let module of modules" [class.selected]="moduleSelected == module.id">
          <div class="roundProgressBarWrapper"  (click)="filterByModule(module.id)">
            <round-progress class="roundProgressBarTeacher" [current]="module.progression.teacher*100/module.totalSkills" [max]="environment.progressMax" [color]="environment.progressColorTeacher" [radius]="environment.progressRadiusTeacher" [stroke]="environment.progressStrokeTeacher"></round-progress>
            <round-progress class="roundProgressBarStudent" [current]="module.progression.student*100/module.totalSkills" [max]="environment.progressMax" [color]="environment.progressColorStudent" [radius]="environment.progressRadiusStudent" [stroke]="environment.progressStrokeStudent"></round-progress>
            <div class="progressTeacherText red">{{ (module.progression.teacher*100/module.totalSkills) | number: '1.0-0' }}%</div>
            <div class="progressStudentText purple">{{ (module.progression.student*100/module.totalSkills) | number: '1.0-0' }}%</div>
            <div class="moduleName">{{ module.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row" style="margin: 50px 0 0 0;">
    <div class="col-md-12">
      <div class="legende pull-right">
        <div style="margin-right: 10px"><i class="fa fa-square purple"></i> VALIDATION DE L'ÉTUDIANT</div>
        <div><i class="fa fa-square red"></i> VALIDATION DES FORMATEURS</div>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <!-- Liste des formations -->
  <div class="row" style="margin: 50px 0 0 0;">
    <div class="col-md-12">
      <!-- Tableau des formations -->
      <table class="table table-borderless space" style="color: #999">
        <thead class="">
          <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Compétences</th>
              <th scope="col">Modules</th>
              <th scope="col">Formateur</th>
              <th scope="col">Validés par le formateur</th>
              <th scope="col">Validés par l'étudiant</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skill of skills; let i = index" class="shadow bg-white rad text-row">
            <th></th>
            <th scope="row" width="40" >{{ skill.id }}</th>
            <td>{{ skill.name }}</td>
            <td><span class="btn btn-round bg-dark no-border right">{{ skill.module_name }}</span></td>
            <td><span class="btn btn-round bg-dark no-border left">{{ skill.teacher.firstname }} {{ skill.teacher.lastname }}</span></td>
            <td><span class="btn btn-round bg-red no-border left" *ngIf="skill.progression.teacher_validation_date">{{ skill.progression.teacher_validation_date | date }}</span></td>
            <td><span class="btn btn-round bg-purple no-border left" *ngIf="skill.progression.student_validation_date">{{ skill.progression.student_validation_date | date }}</span></td>
          </tr>
          <br>
        </tbody>
      </table>
    </div>
  </div>
  
  