.element {
  padding: 100%;
  background-color: #A3A1FB;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 48%);
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 48%);
  z-index: -2;
  position: absolute;
  display: flex
}

.back {
  background-color: #F8F8F8;
  padding: 100%;
  z-index: -2;
  position: absolute;
  top: 0%;
  bottom: 0%;
}
