<div class="page-title">
  <div class="title_left">
    <h3></h3>
  </div>
  <div class="title_right">
    <button class="btn bg-blue pull-right" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i> Revenir aux formations</button>
    <button data-toggle="modal" data-target="#modalFormation" class="rounded btn bg-blue icon no-border alignright" style="margin: 9px;"><i class="glyphicon glyphicon-pencil"></i></button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="{{ environment.appImageUrl }}{{ teacherProfile.avatar }}" alt="Photo de {{ teacherProfile.firstname }} {{ teacherProfile.lastname }}" style="height: 200px; width: 200px; margin: 0 auto;" class="img-circle img-responsive" />
  </div>
</div>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12" style="text-align: center;">
    <h3 style="margin: 13px 0 0 10px;">{{ teacherProfile.firstname }} {{ teacherProfile.lastname }}</h3>
  </div>
</div>
<div class="row" style="margin-bottom: 50px;">
  <div class="col-md-12" style="text-align: center;">
    <h4 style="margin: 5px 0 0 5px;">{{ teacherProfile.email }} | {{ teacherProfile.phone_number }} | {{ teacherProfile.birthday_date }} | {{ teacherProfile.gender }}</h4>
  </div>
</div>



<!-- Liste des formations -->
<div class="row" *ngIf="tabSelected === 1">
    <div class="col-md-12">
        <!-- Tableau des formations -->
        <table class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Logo</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <!-- <th scope="col">Nombre d'étudiant</th> -->
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of listFormations" (click)="goToFormation(e.id)" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{e.id}}</th>
              <td style="width: 95px;"><img src="{{ environment.appLogoUrl }}{{ e.logo }}" class="img-circle" width="100%"></td>
              <td><span class="alignleft">{{e.name}}</span></td>
              <td><span class="alignleft">{{e.start_at | date}}</span></td>
              <td><span class="alignleft">{{e.end_at | date}}</span></td>
            </tr>
            <br>
          </tbody>
        </table>
      </div>
</div>
