<div id="page-login-full" class="full-height">
  <div class="element"></div>
  <div class="login_wrapper">
    <img class="logo" src="assets/images/logo-blanc.png" alt="Skills Trakcing">
    <h2 class="skill-title">SKILLNET</h2>
    <div class="cadre-login">
      <h2 class="text-center grey">Mot de passe oublié</h2>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Entrez votre adresse email</label>
          <input type="email" formControlName="username" class="form-in" id="email" aria-describedby="emailHelp" >
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">L'email est requis</div>
        </div>
          <div class="form-group">
            <label for="password">Entrer un nouveau mot de passe</label>
            <input type="password" formControlName="password" class="form-in" id="password" >
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirmer le nouveau mot de passe</label>
            <input type="password" formControlName="password_confirmation" class="form-in" id="password_confirmation" >
            <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
              <div *ngIf="f.password_confirmation.errors.required">Le mot de passe est requis</div>
            </div>
          </div>
          
        </div>
        <button  type="button" (click)="onSubmit()" [disabled]="loading" class="btn btn-block btn-lg bg-purple">Valider</button>

      </form>
    </div>
  </div>
</div>

