<div class="back">
</div>
<div class="element">
</div>
<div id="page-login-full">
  <!-- <img class="logo" src="images/groceries.png" alt="Logo"> -->
    <h2 class="skill-title">SKILL TRACKING</h2>
    <div class="cadre-login">
      <h2 class="text-center grey">Connexion</h2>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-in" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-in" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-block purple">Se connecter</button>

        <small id="forgot-password" class="form-text text-muted text-center">Mot de passe oublié ?</small>
      </form>
  </div>
</div>

