<div class="page-title">
    <div class="title_left">
      <h3>Liste des modules</h3>
      <i class="fas fa-trophy-alt"></i>
    </div>
  <div class="clearfix"></div>

  <!-- Liste des étudiants de la formation sélectionnée -->
  <div class="row">
    <div class="col-md-12">
      <!-- Tableau des formations -->
      <table class="table table-borderless space" style="color: #999">
        <thead class="">
          <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Intitulé</th>
              <th scope="col">Nombre des compétences</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
    <tr *ngFor="let e of listeModules" (click)="selectedModule(e.id)" class="shadow bg-white rad text-row">
            <th></th>
            <th scope="row" width="40" >{{e.id}}</th>
            <td><span class="alignleft">{{e.name}}</span></td>
            <td><span class="alignleft">{{e.first_name}}</span></td>
            <td></td>
          </tr>
          <br>
        </tbody>
      </table>
    </div>
  </div>
