<div class="page-title">
    <div class="title_left">
      <h3>Formation : {{ name }}</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- Légende -->
  <div class="row">
    <div class="col-md-12">
      <div class="legende pull-right">
        <div style="margin-right: 10px">
          <i class="fa fa-square purple"></i> PROGRESSION ETUDIANT</div>
        <div>
          <i class="fa fa-square red"></i> PROGRESSION FORMATEUR</div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- slide show Modules -->
  <div class="row">
    <div class="col-md-12">
      <div class="scrolling-wrapper">
        <!-- Liste des modules -->
        <!-- bar-progress -->
        <div class="card" *ngFor="let item of dataStudent">
          <div class="roundProgressBarWrapper"  (click)="filterByModule(item.module.id)">
            <round-progress class="roundProgressBarTeacher" [stroke]="10" [radius]="70" [current]="item.module.progression.teacher*100/item.module.totalSkills"
              [max]="max" [color]="'#E689B8'">
            </round-progress>
            <round-progress class="roundProgressBarStudent" [stroke]="10" [radius]="56" [current]="item.module.progression.student*100/item.module.totalSkills"
              [max]="max" [color]="'#A3A1FB'">
            </round-progress>
            <div class="progressTeacherText red">{{ item.module.progression.teacher*max/item.module.totalSkills }} %</div>
            <div class="progressStudentText purple">{{ item.module.progression.student*max/item.module.totalSkills }} %</div>
            <div class="moduleName">{{ item.module.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- Liste des compétences -->
  <div class="row" *ngFor="let module of modules">
    <div class="col-md-12">
      <!-- Tableau des compétences -->
      <div class="row">
      <table class="table table-borderless space" style="color: #999">
        <tbody>
          <tr class="shadow bg-white rad text-row">
            <th></th>
            <th scope="row" width="40">{{ module.id }}</th>
            <td>{{ module.name }}</td>
            <td>
              <span class="alignleft">{{ module.module_name }}</span>
            </td>
            <td>{{ module.progression.teacher_validation_date | date }}</td>
            <td>
              <div class="pull-right">
                <input id="toggle{{ module.id }}" type="checkbox" class="checky" [checked]="module.progression.student_validation">
                <label for="toggle{{ module.id }}" class="labChecky">Validé!</label>
              </div>
            </td>
          </tr>
          <br>
        </tbody>
      </table>
    </div>
    </div>
  </div>
