.progresseBarreTeacher{
    left: 6px;
    top: 6px;
}

.shadowFormation{
    box-shadow: 0px 2px 7px 4px #bfbfbf;
    border-radius: 20px;
}

/*Boxe shadow de la liste du tableau*/
/* .shadow {
    box-shadow: 0 8px 6px -6px black;
  } */