<div class="container pt-5">
    <table class="table table-borderless">
      <thead class="" style="background-color: rgb(242, 242, 242);">
        <tr class="tablecolor">
          <th scope="col">#</th>
          <th scope="col">NOM</th>
          <th scope="col">PROGRESSION</th>
          <th scope="col">DATE DE DEBUT</th>
          <th scope="col">DATE DE FIN</th>
          <th scope="col">NOMBRE D'ETUDIANT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>NPC</td>
          <td>progression</td>
          <td>12 AOUT 2018</td>
          <td>12 AOUT 2017</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
</div>