<div class="page-title">
    <div class="title_left">
      <h3>Liste des administrateurs</h3>
    </div>
  
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right">
          <button class="btn green bg-green" type="button" data-toggle="modal" data-target="#myModal">Ajouter un administrateur</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless space" style="color: #999">
        <thead class="">
          <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">ID</th>
              <th scope="col">Nom</th>
              <th scope="col">Adresse email</th>
              <th scope="col">Compte créé le</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins" class="shadow bg-white rad text-row">
            <th></th>
            <th scope="row" width="40" >{{ admin.id }}</th>
            <td>
              <img src="{{ environment.appImageUrl }}{{ admin.avatar }}" class="img-circle pull-left" width="100%">
              <div class="pull-left" style="margin: 13px 0 0 10px;">
                <span class="alignleft">{{admin.lastname}}</span><br/>
                <span class="alignleft">{{admin.firstname}}</span>
              </div>
            </td>
            <td class="">{{ admin.email }}</td>
            <td><span class="alignleft">{{ admin.created_at | date}}</span></td>
            <td>
                <a (click)="deleteAdmin()" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-trash"></i></a>
                <a href="" class="rounded btn bg-blue icon no-border alignright"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
          </tr>
          <br>
        </tbody>
      </table>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un Administrateur</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="newAdminForm" class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">Nom</label>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="firstname" class="form-control col-md-7 col-xs-12" id="firstname" aria-describedby="firstnameHelp" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
            </div>
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">Le nom est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastname">Prénom</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="lastname" class="form-control col-md-7 col-xs-12" id="lastname" aria-describedby="lastnameHelp" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
            </div>
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">Le prénom est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="email" formControlName="email" class="form-control col-md-7 col-xs-12 " id="email" aria-describedby="emailnameHelp" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            </div>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">L'email est requis</div>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Moot de passe</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="password" formControlName="password" class="form-control col-md-7 col-xs-12 " id="password" aria-describedby="passwordnameHelp" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              </div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="c_password">Confirmation du mot de passe</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" formControlName="c_password" class="form-control col-md-7 col-xs-12 " id="c_password" aria-describedby="c_passwordnameHelp" [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }">
                </div>
                <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
                  <div *ngIf="f.c_password.errors.required">La confirmation du mot de passe est requis</div>
                </div>
              </div>
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="avatar">Photo de profil</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="file" (change)="onFileChanged($event)" id="avatar">
              </div>
              <div *ngIf="submitted && newTeacherImage == null" class="invalid-feedback">
                <div *ngIf="f.avatar.errors.required">Une image est requise</div>
              </div>
            </div>
          <div class="form-group">
              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Genre</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" formControlName="gender">
                          <option>Homme</option>
                          <option>Femme</option>
                        </select></div>
                  <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors.required">Le genre est requis</div>
                  </div>
                </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_type_id">Type d'utilisateur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" formControlName="user_type_id">
                <option [value]=0 >type utilisateur</option>
                <option [value]=1 >admin</option>
                <option [value]=2>teacher</option>
                <option [value]=3>student</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn bg-red icon no-border" data-dismiss="modal">Close</button>
        <button  type="button" [disabled]="loading" (click)="createAdmin()" class="btn bg-blue icon no-border">Ajouter</button>
      </div>
    </div>
  </div>
</div>