<div>
  <div class="row">
    <div class="" style="text-align: center; padding-top: 60px; margin: auto auto;
    width: 50%;">
      <div class="" style="display: flex;">
          <div style="padding-top: 15px;">Date de début: {{formation.start_at | date}}</div>
          <td style="width: 95px; margin: 0px 30px;"><img src="{{environment.appUrl}}{{ formation.logo }}" class="img-circle" width="100%"></td>
          <div style="padding-top: 15px;">Date de fin: {{formation.end_at | date}}</div>
      </div>
      <div class="">
        <h3 class="" style="font-size: 20px; padding-top: 5px;">{{ formation.name }}</h3>
      </div>
    </div>
    
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <form class="input-group pull-right row" style="display: flex;">
        <input type="text rounded" [(ngModel)]="moduleName"  name="moduleName" class="form-control col-md-2" placeholder="module">
        <button (click)="addModule()" class="btn green bg-green" type="button">Ajouter un module</button>
      </form>
    </div>
  </div>
  
  <!-- Liste des formations -->
  <div class="row">
    <div class="col-md-12">
      <!-- Tableau des formations -->
      <table class="table table-borderless space" style="color: #999">
        <thead class="">
          <tr class="tablecolor rad text-row">
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Intitulé</th>
            <th scope="col">Nombre de compétence</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let module of listModules" class="shadow bg-white rad text-row">
            <th></th>
            <th scope="row" width="40" >{{module.module_id}}</th>
            <td></td>
            <td></td>

            <td class="">
              <a [ngStyle]="{display:displayOff}" (click)="goToSkill(module.id)"><span class="alignleft">{{module.module_name}}</span></a>
              <div [ngStyle]="{display:displayOne}"><input type="text img-rounded" class="form-control col-md-2" value="{{module.module_name}}"></div>
            </td>
            
            <td><a href="" class="btn btn-round bg-green no-border left">20</a></td>
            
            <td>
              <div [ngStyle]="{display:displayOff}">
                <button (click)="deleteModule(module.id)" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-trash"></i></button>
                <button (click)="editeModule(module.id)" class="rounded btn bg-blue icon no-border alignright"><i class="glyphicon glyphicon-pencil"></i></button>
              </div>
              <div [ngStyle]="{display:displayOne}" class="">
                <a href="" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-remove-sign"></i></a>
                <a href="" class="rounded btn bg-blue icon no-border alignright"><i class="glyphicon glyphicon-ok-sign"></i></a>
              </div>
            </td>

          </tr>
          <br>
        </tbody>
      </table>
    </div>
  </div>
</div>

