<div class="page-title">
  <div class="title_left">
      <button class="btn bg-blue pull-left" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i> Revenir aux formations</button>
  </div>
  <div class="title_right">
    <button data-toggle="modal" data-target="#modalFormation" class="btn bg-green pull-right" style="margin: 0;"><i class="glyphicon glyphicon-pencil"></i> Editer la formation</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sd-12 col-xs-12">
    <img src="{{ environment.appLogoUrl }}{{ formation.logo }}" style="height: 200px; width: 200px; margin: 0 auto;" class="img-circle img-responsive" />
  </div>
</div>
<div class="row" style="margin-bottom: 50px;">
  <div class="col-md-12 col-sd-12 col-xs-12" style="text-align: center;">
    <h3>Formation : {{ formation.name }}</h3>
    <button class="btn bg-dark "><i class="fa fa-calendar"></i> début : {{ formation.start_at | date }}</button>
    <button class="btn bg-dark "><i class="fa fa-calendar"></i> fin : {{ formation.end_at | date }}</button>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sd-12 col-xs-12">
    <button class="btn" (click)="tabSelected = 1" [class.bg-purple]="tabSelected == 1" [class.bg-dark]="tabSelected != 1">Formateurs</button>
    <button class="btn" (click)="tabSelected = 2" [class.bg-purple]="tabSelected == 2" [class.bg-dark]="tabSelected != 2">Étudiants</button>
    <button class="btn" (click)="tabSelected = 3" [class.bg-purple]="tabSelected == 3" [class.bg-dark]="tabSelected != 3">Modules</button>
    <button class="btn" (click)="tabSelected = 4" [class.bg-purple]="tabSelected == 4" [class.bg-dark]="tabSelected != 4">Plannings</button>
  </div>
</div>

<!-- Liste des Teachers -->
<div class="row" *ngIf="tabSelected === 1">
  <div class="col-md-12 col-sd-12 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sd-12 col-xs-12">
        <table *ngIf="teachers.length > 0" class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Modules</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachers" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{ teacher.id }}</th>
              <td>
                <img src="{{ environment.appImageUrl }}{{ teacher.avatar }}" class="img-circle pull-left" width="100%">
                <div class="pull-left" style="margin: 13px 0 0 10px;">
                  <span class="alignleft">{{teacher.lastname}}</span><br/>
                  <span class="alignleft">{{teacher.firstname}}</span>
                </div>
              </td>
              <td>
                <button class="btn btn-round bg-purple no-border left" *ngFor="let module of teacher.modules">{{ module.name }}</button>
              </td>
              <td>
                <button class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-trash"></i></button>
                <button (click)="profileTeacher(teacher.id)" class="rounded btn bg-green icon no-border alignright"><i class="glyphicon glyphicon glyphicon-eye-open"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Liste des Students -->
<div class="row" *ngIf="tabSelected === 2">
  <div class="col-md-12 col-sd-12 col-xs-12">
    <div class="row" *ngIf="students.length > 0">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right row" style="display: flex;">
          <button  class="btn green bg-green" type="button" data-toggle="modal" data-target="#modalStudent">Ajouter des étudiants</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sd-12 col-xs-12">
        <div *ngIf="students.length == 0" class="mid_center" style="margin-top: 50px;">
          <p>Il n'y a pas encore d'apprentis</p>
          <button class="btn bg-blue" data-toggle="modal" data-target="#modalStudent">Ajoutez les premiers apprentis</button>
        </div>
        <table *ngIf="students.length > 0" class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Progression</th>
              <th scope="col">Validées par le formateur</th>
              <th scope="col">Validées par l'étudiant</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{ student.user_id }}</th>
              <td>
                <img src="{{ environment.appImageUrl }}{{ student.avatar }}" class="img-circle pull-left" width="100%">
                <div class="pull-left" style="margin: 13px 0 0 10px;">
                  <span class="alignleft">{{student.lastname}}</span><br/>
                  <span class="alignleft">{{student.firstname}}</span>
                </div>
              </td>
              <td>
                <div class="roundProgressBarWrapper">
                  <round-progress class="roundProgressBar roundProgressBarTeacher" [current]="student.progressions_teacher_validated*100/student.total_student_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorTeacher" [radius]="environment.tableProgressRadiusTeacher" [stroke]="environment.tableProgressStrokeTeacher"></round-progress>
                  <round-progress class="roundProgressBar roundProgressBarStudent" [current]="student.progressions_student_validated*100/student.total_student_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorStudent" [radius]="environment.tableProgressRadiusStudent" [stroke]="environment.tableProgressStrokeStudent"></round-progress>
                  <div class="progressTeacherText red">{{ (student.progressions_teacher_validated*100/student.total_student_skills) | number: '1.0-0' }}%</div>
                  <div class="progressStudentText purple">{{ (student.progressions_student_validated*100/student.total_student_skills) | number: '1.0-0' }}%</div>
                </div>
              </td>
              <td>
                <span class="btn btn-round bg-red no-border left">{{ student.progressions_teacher_validated }} compétences</span>
              </td>
              <td>
                <span class="btn btn-round bg-purple no-border left">{{ student.progressions_student_validated }} compétences</span>
              </td>
              <td>
                <button (click)="deleteStudent(student.user_id)" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-trash"></i></button>
                <button (click)="goToStudentPage(student.user_id)" class="rounded btn bg-green icon no-border alignright"><i class="glyphicon glyphicon glyphicon-eye-open"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Liste des modules -->
<div class="row" *ngIf="tabSelected === 3">
  <div class="col-md-12 col-sd-12 col-xs-12">
    <div class="row" *ngIf="modules.length > 0">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right row" style="display: flex;">
          <button  class="btn green bg-green" type="button" data-toggle="modal" data-target="#ModalModule">Ajouter un module</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sd-12 col-xs-12">
        <div *ngIf="modules.length == 0" class="mid_center" style="margin-top: 50px;">
          <p>Il n'y a pas encore de modules</p>
          <button type="button" class="btn bg-blue" data-toggle="modal" data-target="#ModalModule">Ajoutez le premier module</button>
        </div>
        <table *ngIf="modules.length > 0" class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Intitulé</th>
              <th scope="col">Nombre de compétence</th>
              <th scope="col">Formateur</th>
              <th scope="col"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of modules" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{module.id}}</th>
              
              <td class="">
                <a [ngStyle]="{display:displayOff}"><span class="alignleft">{{module.name}}</span></a>
                <div [ngStyle]="{display:displayOne}"><input type="text img-rounded" class="form-control col-md-2" value="{{module.name}}"></div>
              </td>
              <td><a class="btn btn-round bg-green no-border left">{{ module.skills.length }}</a></td>
              <td>
                <img src="{{ environment.appImageUrl }}{{ module.teacher.avatar }}" class="img-circle pull-left" width="100%">
                <div class="pull-left" style="margin: 13px 0 0 10px;">
                  <span class="alignleft">{{module.teacher.lastname}}</span><br/>
                  <span class="alignleft">{{module.teacher.firstname}}</span>
                </div>
              </td>
              <td></td>
              <td>
                <div [ngStyle]="{display:displayOff}">
                  <button (click)="deleteModule(module.id)" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-trash"></i></button>
                  <button (click)="goToSkill(module.id)" class="rounded btn bg-green icon no-border alignright"><i class="glyphicon glyphicon glyphicon-eye-open"></i></button>
                </div>
                <div [ngStyle]="{display:displayOne}" class="">
                  <a href="" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-remove-sign"></i></a>
                  <a href="" class="rounded btn bg-blue icon no-border alignright"><i class="glyphicon glyphicon-ok-sign"></i></a>
                  
                </div>
              </td>
            </tr>
            <br>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Liste des Plannings -->
<div class="row" *ngIf="tabSelected === 4">
  <div class="col-md-12 col-sd-12 col-xs-12">
    <div *ngIf="!calendar" class="mid_center" style="margin-top: 50px;">
      <p>Il n'y a pas encore de planning</p>
      <button  class="btn green bg-green" type="button" data-toggle="modal" data-target="#modalPlanning">Ajouter un planning</button>
    </div>
    <div *ngIf="calendar" class="mid_center" style="margin-top: 50px;">
      <div><i class="fa fa-file-pdf-o purple" style="font-size: 50px; margin: 20px 0;"></i></div>
      <a href="{{ environment.appCalendarUrl }}{{ calendar.file_url }}" target="_blank" class="btn bg-purple">Télécharger</a>
      <button class="btn green bg-green" type="button" data-toggle="modal" data-target="#modalPlanning">Modifier le planning</button>
    </div>
  </div>
</div>

<!-- Modal Formation -->
<div class="modal fade" id="modalFormation" tabindex="-1" role="dialog" aria-labelledby="modalFormationLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalFormationLabel">Modifier la formation</h4>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="newFormationForm" class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom de la formation</label>
            
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="name" class="form-control col-md-7 col-xs-12" id="name" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >
            </div>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Le nom est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start_at">Date de début</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="date" data-inputmask="'mask': '99/99/9999'" formControlName="start_at" class="form-control col-md-7 col-xs-12 calendar" id="start_at" [ngClass]="{ 'is-invalid': submitted && f.start_at.errors }" >
            </div>
            <div *ngIf="submitted && f.start_at.errors" class="invalid-feedback">
              <div *ngIf="f.start_at.errors.required">La date de début est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end_at">Date de fin</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="date" data-inputmask="'mask': '99/99/9999'" formControlName="end_at" class="form-control col-md-7 col-xs-12 calendar" id="end_at" [ngClass]="{ 'is-invalid': submitted && f.end_at.errors }" >
            </div>
            <div *ngIf="submitted && f.end_at.errors" class="invalid-feedback">
              <div *ngIf="f.end_at.errors.required">La date de fin est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logo">Image</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" (change)="onFileFormationChanged($event)" id="logo">
            </div>
            <div *ngIf="submitted && newFormationImage == null" class="invalid-feedback">
              <div>Une image est requise</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn bg-red icon no-border" data-dismiss="modal">Annuler</button>
        <button  type="button" [disabled]="loading" (click)="editeFormation(idFormation)"class="btn bg-blue icon no-border">modifier</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Student -->
<div class="modal fade" id="modalStudent" tabindex="-1" role="dialog" aria-labelledby="modalStudentLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalStudentLabel">Ajouter des étudiants</h4>
      </div>
      <div class="modal-body">
        <div id="studentsPanel">
          <div class="studentBlock" *ngFor='let student of newStudents; index as index'>
            <img src="{{ environment.appImageUrl }}{{ student.avatar }}" class="img-circle pull-left" style="width: 35px">
            <div class="pull-left" style="margin: 7px 0 0 10px;">
              <span class="alignleft">{{student.lastname}}</span>
              <span class="alignleft">{{student.firstname}}</span>
            </div>
            <button (click)="addStudentToFormation(student.id)" class="rounded btn bg-green icon no-border alignright"><i class="glyphicon glyphicon glyphicon-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModalStudent" class="btn bg-red icon no-border" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Module -->
<div class="modal fade" id="ModalModule" tabindex="-1" role="dialog" aria-labelledby="ModalModuleLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="ModalModuleLabel">Ajouter un module</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="newModuleForm" class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom du module</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="name" class="form-control col-md-7 col-xs-12" id="name" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && m.name.errors }">
            </div>
            <div *ngIf="submitted && m.name.errors" class="invalid-feedback">
              <div *ngIf="m.name.errors.required">Le nom est requis</div>
            </div>
          </div>
          <!-- selected teachers -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teacher" >Formateur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div (click)="showTeachersPanel = 1" style="height: 35px; cursor: pointer;">
                <div *ngIf="!selectedTeacher.id">Sélectionnez un formateur</div>
                <div *ngIf="selectedTeacher.id">
                    <img src="{{ environment.appImageUrl }}{{ selectedTeacher.avatar }}" class="img-circle pull-left" style="width: 35px">
                    <div class="pull-left" style="margin: 7px 0 0 10px;">
                      <span class="alignleft">{{selectedTeacher.lastname}}</span>
                      <span class="alignleft">{{selectedTeacher.firstname}}</span>
                    </div>
                  </div>
              </div>
              <div *ngIf="showTeachersPanel" id="teachersPanel">
                <div class="teacherBlock" *ngFor='let teacher of teachersAll; index as index' (click)="selectTeacher(index)">
                  <img src="{{ environment.appImageUrl }}{{ teacher.avatar }}" class="img-circle pull-left" style="width: 35px">
                  <div class="pull-left" style="margin: 7px 0 0 10px;">
                    <span class="alignleft">{{teacher.lastname}}</span>
                    <span class="alignleft">{{teacher.firstname}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="submitted && selectedTeacher.id == null" class="invalid-feedback">
                <div>Veuillez sélectionner un formateur</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="color">Couleur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input (click)="openColorsPanel()" formControlName="color"  type="text" placeholder="Sélectionnez une couleur" class="form-control">
              <div id="colorSelectBtn" [style.background]="selectedColor"></div>
              <div *ngIf="showColorsPanel" id="colorsPanel">
                <div class="colorBlock" [style.background]="color" *ngFor='let color of colorsPanel; index as index' (click)="selectColor(index)"></div>
              </div>
            </div>
            <div *ngIf="submitted && m.color.errors" class="invalid-feedback">
              <div *ngIf="m.color.errors.required">La couleur est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="total_hours">Total d'heure</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="total_hours" class="form-control col-md-7 col-xs-12" id="total_hours" [ngClass]="{ 'is-invalid': submitted && m.total_hours.errors }">
            </div>
            <div *ngIf="submitted && m.total_hours.errors" class="invalid-feedback">
              <div *ngIf="m.total_hours.errors.required">Le total de l'heure est requis</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModalModule" class="btn bg-red icon no-border" data-dismiss="modal">Annuler</button>
        <button  type="button" [disabled]="loading" (click)="addModule()"class="btn bg-blue icon no-border">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Planning-->
<div class="modal fade" id="modalPlanning" tabindex="-1" role="dialog" aria-labelledby="modalPlanningLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalPlanningLabel">Modification du planning</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="newPlanningForm" class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file_url">Fichier PDF</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" (change)="onFileChanged($event)" id="file_url">
            </div>
            <div *ngIf="submitted && filename == null" class="invalid-feedback">
              <div>Un PDF est requis</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModalCalendar" class="btn bg-red icon no-border" data-dismiss="modal">Close</button>
        <button  type="button" [disabled]="loading" (click)="createCalendar()" class="btn bg-blue icon no-border">Ajouter</button>
      </div>
    </div>
  </div>
</div>