<div class="page-title">
  <div class="title_left">
      <button class="btn bg-blue pull-left" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i> Revenir à la liste des rapports</button>
  </div>
</div>
<br>
<div class="row" style="padding-top: 25px;">
  <h2 style="text-align: center;">Rapport</h2>
  <h4 style="text-align: center;">{{ report.title }}</h4>
  <h4 style="text-align: center;">{{ report.studentFirstname }} {{ report.studentLastname }}</h4>
  <h5 style="text-align: center;">Créer le : {{ report.date }}</h5>
</div>
<div>
  <p>{{ report.text }}</p>
</div>
<div>

</div>