<div class="row page-title ">
  <div class="title_left">
    <h3>Liste des plannings</h3>
  </div>
  <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right">
          <button class="btn green bg-green" type="button" data-toggle="modal" data-target="#myModal">Ajouter un Planning</button>
        </div>
      </div>
    </div>
</div>

<table class="table table-borderless space" style="color: #999">
  <thead class="">
    <tr class="tablecolor rad text-row">
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Formation</th>
        <th scope="col"></th>
        <th scope="col">Description</th>
        <th scope="col" class="pull-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calend of calendar" class="shadow bg-white rad text-row">
      <th></th>
      <th scope="row" width="40" >{{ calend.id }}</th>
      <td>{{ calend.formation }}</td>
      <th></th>
      <td>{{ calend.file_name }}</td>
      <td>
          <a (click)="uploadCalendar(calendarId)" class="rounded btn bg-green icon no-border alignright"><i class="fa fa-download"></i></a>
      </td>
    </tr>
    <br>
  </tbody>
</table>
