<div class="row page-title ">
  <div class="title_left">
    <h3>Planning</h3>
  </div>
</div>
<table class="table table-borderless space" style="color: #999">
  <thead class="">
    <tr class="tablecolor rad text-row">
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Formation</th>
        <th scope="col"></th>
        <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calend of calendar" class="shadow bg-white rad text-row">
        <th></th>
        <th scope="row" width="40" >{{ calend.id }}</th>
        <td>{{ calend.name }}</td>
        <th></th>
        <td>{{ calend.file_name }}</td>
    </tr>


    <br>
  </tbody>
</table>
