<div class="page-title">
  <div class="title_left">
    <h3></h3>
  </div>
  <div class="title_right">
    <button class="btn bg-blue pull-right" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i> Revenir aux formations</button>
    <button data-toggle="modal" data-target="#modalFormation" class="rounded btn bg-blue icon no-border alignright" style="margin: 9px;"><i class="glyphicon glyphicon-pencil"></i></button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="{{ environment.appImageUrl }}{{ profileStudent.avatar }}" alt="Photo de {{ profileStudent.firstname }} {{ profileStudent.lastname }}" style="height: 200px; width: 200px; margin: 0 auto;" class="img-circle img-responsive" />
  </div>
</div>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12" style="text-align: center;">
    <h3 style="margin: 13px 0 0 10px;">{{ profileStudent.firstname }} {{ profileStudent.lastname }}</h3>
  </div>
</div>
<div class="row" style="margin-bottom: 50px;">
  <div class="col-md-12" style="text-align: center;">
    <h4 style="margin: 5px 0 0 5px;">{{ profileStudent.email }} | {{ profileStudent.phone_number }} | {{ profileStudent.birthday_date }} | {{ profileStudent.gender }}</h4>
  </div>
</div>


<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <button class="btn" (click)="tabSelected = 1" [class.bg-purple]="tabSelected == 1" [class.bg-dark]="tabSelected != 1">Formation</button>
    <button class="btn" (click)="tabSelected = 2" [class.bg-purple]="tabSelected == 2" [class.bg-dark]="tabSelected != 2">compétences</button>
    <button class="btn" (click)="tabSelected = 3" [class.bg-purple]="tabSelected == 3" [class.bg-dark]="tabSelected != 3">Rapports</button>
  </div>
</div>

<!-- Liste des Teachers -->
<div class="row" *ngIf="tabSelected === 1">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="teachers.length == 0" class="mid_center" style="margin-top: 50px;">
          <p>Il n'y a pas encore de formateurs</p>
          <button class="btn bg-blue">Ajoutez le premier formateur</button>
        </div>
        <table *ngIf="teachers.length > 0" class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Modules</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachers" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{ teacher.id }}</th>
              <td>
                <img src="{{ environment.appImageUrl }}{{ teacher.avatar }}" class="img-circle pull-left" width="100%">
                <div class="pull-left" style="margin: 13px 0 0 10px;">
                  <span class="alignleft">{{teacher.lastname}}</span><br/>
                  <span class="alignleft">{{teacher.firstname}}</span>
                </div>
              </td>
              <td>
                  <button class="btn btn-round bg-purple no-border left" *ngFor="let module of teacher.modules">{{ module.name }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Liste des Students -->
<div class="row" *ngIf="tabSelected === 2">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="students.length == 0" class="mid_center" style="margin-top: 50px;">
          <p>Il n'y a pas encore d'apprentis</p>
          <button class="btn bg-blue">Ajoutez le premier apprenti</button>
        </div>
        <table *ngIf="students.length > 0" class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Progression</th>
              <th scope="col">Validées par le formateur</th>
              <th scope="col">Validées par l'étudiant</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{ student.user_id }}</th>
              <td>
                <img src="{{ environment.appImageUrl }}{{ student.avatar }}" class="img-circle pull-left" width="100%">
                <div class="pull-left" style="margin: 13px 0 0 10px;">
                  <span class="alignleft">{{student.lastname}}</span><br/>
                  <span class="alignleft">{{student.firstname}}</span>
                </div>
              </td>
              <td>
                <div class="roundProgressBarWrapper">
                  <round-progress class="roundProgressBar roundProgressBarTeacher" [current]="student.progressions_teacher_validated*100/student.total_student_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorTeacher" [radius]="environment.tableProgressRadiusTeacher" [stroke]="environment.tableProgressStrokeTeacher"></round-progress>
                  <round-progress class="roundProgressBar roundProgressBarStudent" [current]="student.progressions_student_validated*100/student.total_student_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorStudent" [radius]="environment.tableProgressRadiusStudent" [stroke]="environment.tableProgressStrokeStudent"></round-progress>
                  <div class="progressTeacherText red">{{ (student.progressions_teacher_validated*100/student.total_student_skills) | number: '1.0-0' }}%</div>
                  <div class="progressStudentText purple">{{ (student.progressions_student_validated*100/student.total_student_skills) | number: '1.0-0' }}%</div>
                </div>
              </td>
              <td>
                  <span class="btn btn-round bg-red no-border left">{{ student.progressions_teacher_validated }} compétences</span>
              </td>
              <td>
                  <span class="btn btn-round bg-purple no-border left">{{ student.progressions_student_validated }} compétences</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Liste des modules -->
<div class="row" *ngIf="tabSelected === 3">
  <div class="col-md-12">
    <div class="row" *ngIf="modules.length > 0">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right row" style="display: flex;">
          <button  class="btn green bg-green" type="button" data-toggle="modal" data-target="#ModalModule">Ajouter un module</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="modules.length == 0" class="mid_center" style="margin-top: 50px;">
          <p>Il n'y a pas encore de modules</p>
          <button type="button" class="btn bg-blue" data-toggle="modal" data-target="#ModalModule">Ajoutez le premier module</button>
        </div>
        <table *ngIf="modules.length > 0" class="table table-borderless space" style="color: #999">
          <thead class="">
            <tr class="tablecolor rad text-row">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Intitulé</th>
              <th scope="col">Nombre de compétence</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of modules" class="shadow bg-white rad text-row">
              <th></th>
              <th scope="row" width="40" >{{module.id}}</th>
              <td></td>
              <td></td>

              <td class="">
                <a [ngStyle]="{display:displayOff}"><span class="alignleft">{{module.name}}</span></a>
                <div [ngStyle]="{display:displayOne}"><input type="text img-rounded" class="form-control col-md-2" value="{{module.name}}"></div>
              </td>
              <td><a class="btn btn-round bg-green no-border left">{{ module.skills.length }}</a></td>
            </tr>
            <br>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>