/*Boxe shadow de la liste du tableau*/
.shadow {
  box-shadow: 0 7px 13px -5px rgb(161, 161, 161);
}

.space {
  border-collapse: separate;
  border-spacing: 0em 1em;
}

/* bouton de création */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: rgb(116, 114, 231);
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

i.white {
  color: white;
}

.bouton-add {
  float: right;
}

.add-form {
  color: rgb(38, 38, 182);
}

/* barre de progression */

.progressBar2 {
  left: 5px;
  top: -35px;
  vertical-align: inherit;
}
