<div class="page-title">
  <div class="title_left">
    <h3>Liste des étudiants</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group pull-right">
        <button type="button" class="btn green bg-green" data-toggle="modal" data-target="#myModal">Ajouter un Étudiant</button>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-borderless space" style="color: #999">
      <thead class="">
        <tr class="tablecolor rad text-row">
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse email</th>
            <th scope="col">Formations en cours</th>
            <th scope="col">Compte créé le</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" class="shadow bg-white rad text-row">
          <th></th>
          <th scope="row" width="40" >{{ student.id }}</th>
          <td>
            <img src="{{ environment.appImageUrl }}{{ student.avatar }}" class="img-circle pull-left" width="100%">
            <div class="pull-left" style="margin: 13px 0 0 10px;">
              <span class="alignleft">{{student.lastname}}</span><br/>
              <span class="alignleft">{{student.firstname}}</span>
            </div>
          </td>
          <td class="">{{ student.email }}</td>
          <td *ngIf="student.formations">
            <span *ngFor="let formation of student.formations" class="btn btn-round bg-dark no-border left">{{ formation.name }}</span>
          </td>
          <td *ngIf="!student.formations">
            <span>Aucune</span>
          </td>
          <td><span class="alignleft">{{ student.created_at | date}}</span></td>
          <td>
              <a class="rounded btn bg-red icon no-border alignright" (click)="deleteStudent(student.id)"><i class="glyphicon glyphicon-trash"></i></a>
              <button (click)="showToProfileStudent(student.id)" class="rounded btn bg-green icon no-border alignright"><i class="glyphicon glyphicon glyphicon-eye-open"></i></button>
          </td>
        </tr>
        <br>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un Étudiant</h4>
      </div>
      <div class="modal-body">
        <!-- lastname etudiant -->
        <form [formGroup]="newStudentForm" class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastname">Nom</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="lastname" class="form-control col-md-7 col-xs-12" id="lastname" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && s.lastname.errors }">
            </div>
            <div *ngIf="submitted && s.lastname.errors" class="invalid-feedback">
              <div *ngIf="s.lastname.errors.required">Le nom est requis</div>
            </div>
          </div>
          <!-- firstname étudiant -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">Prénom</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="firstname" class="form-control col-md-7 col-xs-12" id="firstname" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && s.firstname.errors }">
            </div>
            <div *ngIf="submitted && s.firstname.errors" class="invalid-feedback">
              <div *ngIf="s.firstname.errors.required">Le prénom est requis</div>
            </div>
          </div>
          <!-- email de l'étudiant -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="email" formControlName="email" class="form-control col-md-7 col-xs-12" id="email" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && s.email.errors }">
            </div>
            <div *ngIf="submitted && s.email.errors" class="invalid-feedback">
              <div *ngIf="s.email.errors.required">L'email est requis</div>
            </div>
          </div>
          <!-- password -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Mot de passe</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" formControlName="password" class="form-control col-md-7 col-xs-12" id="password" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && s.password.errors }">
            </div>
            <div *ngIf="submitted && s.password.errors" class="invalid-feedback">
              <div *ngIf="s.password.errors.required">Le mot de passe est requis</div>
            </div>
          </div>
          <!-- c_password -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="c_password">Confirmer mot de passe</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" formControlName="c_password" class="form-control col-md-7 col-xs-12" id="c_password" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && s.c_password.errors }">
            </div>
            <div *ngIf="submitted && s.c_password.errors" class="invalid-feedback">
              <div *ngIf="s.c_password.errors.required">La confimration du mot de passe est requise</div>
            </div>
          </div>
          <!-- téléphone -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Téléphone</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="phone_number" class="form-control col-md-7 col-xs-12 " id="phone_number" aria-describedby="phone_numberHelp"
                [ngClass]="{ 'is-invalid': submitted && s.phone_number.errors }">
            </div>
            <div *ngIf="submitted && s.phone_number.errors" class="invalid-feedback">
              <div *ngIf="s.phone_number.errors.required">La confirmation du téléphone est requise</div>
            </div>
          </div>
          <!-- birthday_date -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthday_date">Date de naissance</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="birthday_date" formControlName="birthday_date" class="form-control col-md-7 col-xs-12 calendar" id="birthday_date" [ngClass]="{ 'is-invalid': submitted && s.birthday_date.errors }" placeholder="jj/mm/aaaa">
            </div>
            <div *ngIf="submitted && s.birthday_date.errors" class="invalid-feedback">
              <div *ngIf="s.birthday_date.errors.required">La date de naissance est requise</div>
            </div>
          </div>
          <!-- gender -->
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Genre</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <select class="form-control" formControlName="gender">
                      <option>Homme</option>
                      <option>Femme</option>
                  </select></div>
              <div *ngIf="submitted && s.gender.errors" class="invalid-feedback">
                <div *ngIf="s.gender.errors.required">Le genre est requis</div>
              </div>
          </div>
          <!-- avatar -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="avatar">Photo</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" (change)="onFileChanged($event)" id="avatar">
            </div>
            <div *ngIf="submitted && newStudentImage == null" class="invalid-feedback">
              <div *ngIf="s.file.errors.required">Une photo est requise</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn bg-red icon no-border" data-dismiss="modal">Annuler</button>
        <button  type="button" [disabled]="loading" (click)="createStudent()" class="btn bg-blue icon no-border">Ajouter</button>
      </div>
    </div>
  </div>
</div>

