<div class="row page-title ">
  <div class="title_left">
    <h3>Liste des compétences</h3>
  </div>
  <div class="title_right">
      <button class="btn bg-blue pull-right" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i> Revenir à la formation</button>
  </div>
</div> 
<br>
<div class="row" style="padding-top: 25px;">
  <h4 style="text-align: center;">{{ module.name }} || total heure: {{ module.total_hours }}h</h4>
</div>
  
<table class="table table-borderless space" style="color: #999">
  <thead class="">
    <tr class="tablecolor rad text-row">
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Intitulé</th>
        <th scope="col">Obligatoire</th>
        <th scope="col">Validé par les étudiants</th>
        <th scope="col" class="pull-right">Validés par le formateur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skill of listSkill" class="shadow bg-white rad text-row">
      <th></th>
      <th scope="row" width="40" >{{ skill.id }}</th>
      <td>{{ skill.name }}</td>
      <td>
        <div class="pull-left">
          <input id="toggle{{ skill.id }}" type="checkbox" class="checky admin" [checked]="is_mandatory(skill.id)" (change)="onChange(skill.id)">
          <label (click)="skillObligationByAdmin(skill.id)" for="toggle{{ skill.id }}" class="labChecky" [innerHtml]="stateText(skill.id)"></label>                                                        
        </div>
      </td>
      <td>
        <div class="roundProgressBarWrapper">
          <round-progress class="roundProgressBar roundProgressBarTeacher" [current]="progresseBySkill.validated_by_teacher*100/progresseBySkill.toValidate" [max]="environment.progressMax" [color]="environment.tableProgressColorTeacher" [radius]="environment.tableProgressRadiusTeacher" [stroke]="environment.tableProgressStrokeTeacher"></round-progress>
          <div class="progressTeacherText red">{{ (progresseBySkill.validated_by_teacher*100/progresseBySkill.toValidate) | number: '1.0-0' }}%</div>
        </div>
      </td>
      <td>
        <div class="roundProgressBarWrapper">
          <round-progress class="roundProgressBar roundProgressBarTeacher" [current]="progresseBySkill.validated_by_student*100/progresseBySkill.toValidate" [max]="environment.progressMax" [color]="environment.tableProgressColorStudent" [radius]="environment.tableProgressRadiusTeacher" [stroke]="environment.tableProgressStrokeTeacher"></round-progress>
          <div class="progressTeacherText purple">{{ (progresseBySkill.validated_by_student*100/progresseBySkill.toValidate) | number: '1.0-0' }}%</div>
        </div>
      </td>
    </tr>
    <br>
  </tbody>
</table>