<div class="row page-title ">
  <div class="title_left">
    <h3>Liste des compétences</h3>
  </div>
</div> 
<br>
<div class="row" style="padding-top: 25px;">
  <h4>{{ module.module_name }}</h4>
</div>
  
<table class="table table-borderless space" style="color: #999">
  <thead class="">
    <tr class="tablecolor rad text-row">
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Intitulé</th>
        <th scope="col">Obligatoir</th>
        <th scope="col">Validé par étudiant</th>
        <th scope="col" class="pull-right">Validés par le formateur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skill of listSkill" class="shadow bg-white rad text-row">
      <th></th>
      <th scope="row" width="40" >{{ skill.skill_id }}</th>
      <td>{{ skill.skill_name }}</td>
      <td>
        <div class="">
          <input id="toggle{{ skill.id }}" type="checkbox" class="checky" [checked]="skill.progression.student_validation">
          <label for="toggle{{ skill.id }}" class="labChecky">Obligation!</label>
        </div>
      </td>
      <!-- <td>
        <div class="roundProgressBarWrapper">
          <round-progress class="roundProgressBar roundProgressBarStudent" [current]="student.progressions_student_validated*100/student.total_student_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorStudent" [radius]="environment.tableProgressRadiusStudent" [stroke]="environment.tableProgressStrokeStudent"></round-progress>
          <div class="progressStudentText purple">{{ (student.progressions_student_validated*100/student.total_student_skills) | number: '1.0-0' }}%</div>
        </div>
      </td>
      <td>
        <div class="roundProgressBarWrapper">
          <round-progress class="roundProgressBar roundProgressBarTeacher" [current]="student.progressions_teacher_validated*100/student.total_student_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorTeacher" [radius]="environment.tableProgressRadiusTeacher" [stroke]="environment.tableProgressStrokeTeacher"></round-progress>
          <div class="progressTeacherText red">{{ (student.progressions_teacher_validated*100/student.total_student_skills) | number: '1.0-0' }}%</div>
        </div>
      </td> -->
    </tr>
    <br>
  </tbody>
</table>