<div class="page-title">
  <div class="title_left">
    <h3>Liste des formations</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group pull-right">
        <button type="button" class="btn green bg-green" data-toggle="modal" data-target="#myModal">
          Ajouter une formation
        </button>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <div class="legende pull-right">
      <div style="margin-right: 10px"><i class="fa fa-square purple"></i> VALIDATIONS DES ÉTUDIANTS</div>
      <div><i class="fa fa-square red"></i> VALIDATIONS DES FORMATEURS</div>
    </div>
  </div>
</div>
<!-- Liste des formations -->
<div class="row">
  <div class="col-md-12">
    <!-- Tableau des formations -->
    <table class="table table-borderless space" style="color: #999">
      <thead class="">
        <tr class="tablecolor rad text-row">
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Nom</th>
            <th scope="col">Date</th>
            <th scope="col">Progressions</th>
            <th scope="col">Effectifs</th>
            <th scope="col">Formation</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formation of formations" class="shadow bg-white rad text-row">
          <th></th>
          <th scope="row" width="40" (click)="showFormation(formation.id)">{{formation.id}}</th>
          <td style="width: 95px;" (click)="showFormation(formation.id)"><img src="{{environment.appLogoUrl}}{{ formation.logo }}" class="img-circle" width="100%"></td>
          <td (click)="showFormation(formation.id)"><span class="alignleft">{{formation.name}}</span></td>
          <td>
            <span class="alignleft"><i class="fa fa-calendar"></i> Début : {{formation.start_at | date:'shortDate'}}</span><br/>
            <span class="alignleft"><i class="fa fa-calendar"></i> Fin : {{formation.end_at | date:'shortDate' }}</span>
          </td>
          <td>
              <div class="roundProgressBarWrapper">
                <round-progress class="roundProgressBar roundProgressBarTeacher" [current]="formation.progressions_teacher_validated*100/formation.progressions_total_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorTeacher" [radius]="environment.tableProgressRadiusTeacher" [stroke]="environment.tableProgressStrokeTeacher"></round-progress>
                <round-progress class="roundProgressBar roundProgressBarStudent" [current]="formation.progressions_student_validated*100/formation.progressions_total_skills" [max]="environment.progressMax" [color]="environment.tableProgressColorStudent" [radius]="environment.tableProgressRadiusStudent" [stroke]="environment.tableProgressStrokeStudent"></round-progress>
                <div class="progressTeacherText red">{{ (formation.progressions_teacher_validated*100/formation.progressions_total_skills) | number: '1.0-0' }}%</div>
                <div class="progressStudentText purple">{{ (formation.progressions_student_validated*100/formation.progressions_total_skills) | number: '1.0-0' }}%</div>
              </div>
          </td>
          <td>
            <span class="btn btn-round bg-dark no-border left" *ngIf="formation.total_teachers">{{ formation.total_teachers }} formateurs</span>
            <span class="btn btn-round bg-dark no-border left" *ngIf="formation.total_students">{{ formation.total_students }} étudiants</span>
          </td>
          <td>
            <button class="btn btn-round bg-dark no-border left" *ngIf="formation.total_modules">{{ formation.total_modules }} modules</button>
            <button class="btn btn-round bg-dark no-border left" *ngIf="formation.total_skills">{{ formation.total_skills }} compétences</button>
          </td>
          <td style="width: 124px;">
            <button (click)="deleteFormation(formation.id)" class="rounded btn bg-red icon no-border alignright"><i class="glyphicon glyphicon-trash"></i></button>
          </td>
        </tr>
        <br>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une formation</h4>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="newFormationForm" class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom de la formation</label>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" formControlName="name" class="form-control col-md-7 col-xs-12" id="name" aria-describedby="nameHelp" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            </div>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Le nom est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start_at">Date de début</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="start_at" formControlName="start_at" class="form-control col-md-7 col-xs-12 calendar" id="start_at" [ngClass]="{ 'is-invalid': submitted && f.start_at.errors }" placeholder="jj/mm/aaaa">
            </div>
            <div *ngIf="submitted && f.start_at.errors" class="invalid-feedback">
              <div *ngIf="f.start_at.errors.required">La date de début est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end_at">Date de fin</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="end_at" formControlName="end_at" class="form-control col-md-7 col-xs-12 calendar" id="end_at" [ngClass]="{ 'is-invalid': submitted && f.end_at.errors }" placeholder="jj/mm/aaaa">
            </div>
            <div *ngIf="submitted && f.end_at.errors" class="invalid-feedback">
              <div *ngIf="f.end_at.errors.required">La date de fin est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logo">Image</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" (change)="onFileChanged($event)" id="logo">
            </div>
            <div *ngIf="submitted && newFormationImage == null" class="invalid-feedback">
              <div>Une image est requise</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn bg-red icon no-border" data-dismiss="modal">Annuler</button>
        <button  type="button" [disabled]="loading" (click)="createFormation()"class="btn bg-blue icon no-border">Ajouter</button>
        <button  type="button" [disabled]="loading" (click)="editeFormation(id)"class="btn bg-blue icon no-border">modifier</button>
      </div>
    </div>
  </div>
</div>
